/target
/.idea
/.vscode

*.so
*.ipynb

# Python
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv*/
__pycache__/
.coverage
venv
env
.env
.venv
dist/
.tmp/


**/*.db-wal
**/*.db-shm
**/*-wal

# OS
.DS_Store

# Javascript
**/node_modules/

# testing
testing/limbo_output.txt
