[package]
name = "median"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
limbo_extension = { path = "../../limbo_extension" }
